/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Average', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fjalla One', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  width: 100%;
}
nav .header-container {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
nav .header-container h1 {
  font-size: 1.9rem;
  color: #E85A4F;
}
@media (max-width: 500px) {
  nav .header-container h1 {
    text-align: center;
  }
}
nav .header-container a {
  color: #8E8D8A;
  text-decoration: none;
  font-size: 1.9rem;
  margin: 10px;
}
nav .header-container a:hover {
  color: #E85A4F;
  text-decoration: underline;
}
@media (max-width: 500px) {
  nav .header-container a {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  nav .header-container {
    flex-direction: column;
  }
}
nav .footer-nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 500px) {
  nav .footer-nav-container {
    flex-direction: column;
  }
}
nav .footer-nav-container h1 {
  font-size: 1.9rem;
  color: #E85A4F;
}
@media (max-width: 500px) {
  nav .footer-nav-container h1 {
    text-align: center;
  }
}
nav .footer-nav-container a {
  color: #8E8D8A;
  text-decoration: none;
  font-size: 1.9rem;
  margin: 10px;
}
nav .footer-nav-container a:hover {
  color: #E85A4F;
  text-decoration: underline;
}
@media (max-width: 500px) {
  nav .footer-nav-container a {
    display: none;
  }
}
nav .team-header {
  margin: 0;
}
footer {
  background-color: #EAE7DC;
}
footer p {
  text-align: center;
}
.footer-nav-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  background-color: #EAE7DC;
}
.header-img-container {
  height: 800px;
  position: relative;
}
@media (max-width: 500px) {
  .header-img-container {
    height: 50vh;
  }
}
.header-img-container img {
  height: 100%;
  width: 100%;
  position: absolute;
}
@media (max-width: 500px) {
  .header-img-container img {
    display: none;
  }
}
.header-img-container h1 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 7em;
  text-align: center;
}
@media (max-width: 500px) {
  .header-img-container h1 {
    color: #E85A4F;
    top: 50%;
  }
}
.header-img-container .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 70px;
  font-size: 1.8rem;
  border-radius: 10px;
  border: none;
  background-color: #E85A4F;
  color: #EAE7DC;
}
@media (max-width: 500px) {
  .header-img-container .btn {
    top: 100%;
  }
}
header {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  background-color: #EAE7DC;
}
.about-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 50px;
  text-align: center;
}
@media (max-width: 500px) {
  .about-container {
    padding-top: 120px;
  }
}
.about-container h2 {
  font-size: 6rem;
  padding: 30px;
}
.about-container .features {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .about-container .features {
    flex-direction: column;
  }
}
.about-container .features .follow,
.about-container .features .post,
.about-container .features .blog {
  width: 30%;
  text-align: center;
  border: solid #E85A4F;
  padding: 20px;
  margin: 10px;
  background-color: #E85A4F;
  border-radius: 8px;
}
.about-container .features .follow h3,
.about-container .features .post h3,
.about-container .features .blog h3 {
  font-size: 3rem;
  padding: 30px;
}
.about-container .features .follow p,
.about-container .features .post p,
.about-container .features .blog p {
  font-size: 1.8rem;
}
.about-container .features .follow .fas,
.about-container .features .post .fas,
.about-container .features .blog .fas {
  font-size: 7rem;
}
@media (max-width: 500px) {
  .about-container .features .follow,
  .about-container .features .post,
  .about-container .features .blog {
    width: 100%;
  }
}
.test-container h1 {
  text-align: center;
  font-size: 6rem;
  padding-top: 20px;
  padding-bottom: 70px;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
}
#slider .slide-container {
  position: relative;
  width: 9000px;
  /* Assign an insanely large width */
  top: 0;
  right: 0;
  animation: slide-animation 40s infinite;
}
#slider .slide {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 10px 20px;
}
@keyframes slide-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  11% {
    opacity: 1;
    right: 0;
  }
  22% {
    right: 100%;
  }
  33% {
    right: 100%;
  }
  44% {
    right: 200%;
  }
  55% {
    right: 200%;
  }
  66% {
    right: 300%;
  }
  77% {
    right: 300%;
  }
  88% {
    opacity: 1;
    right: 400%;
  }
  100% {
    opacity: 0;
    right: 400%;
  }
}
@media (max-width: 500px) {
  .slide-container {
    width: 50%;
  }
}
.slide-container blockquote {
  background: white;
  font-size: 3rem;
  border-left: 10px solid #E98074;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  width: 40%;
  height: 15vh;
}
.slide-container blockquote:before {
  color: #E98074;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1rem;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.test-container {
  background-color: #D8C3A5;
  padding-top: 60px;
  padding-bottom: 60px;
}
.team-header {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #EAE7DC;
}
.meet-container {
  padding: 30px;
}
.meet-container h1 {
  font-size: 8rem;
  text-align: center;
  padding: 50px;
}
.team1 {
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
.team1 .kelly,
.team1 .nicole,
.team1 .jonathan,
.team1 .jacob {
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  margin: 30px;
}
.team1 .kelly .fab,
.team1 .nicole .fab,
.team1 .jonathan .fab,
.team1 .jacob .fab {
  font-size: 3rem;
  color: black;
  margin: 7px;
}
.team1 .kelly h2,
.team1 .nicole h2,
.team1 .jonathan h2,
.team1 .jacob h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.team1 .kelly h3,
.team1 .nicole h3,
.team1 .jonathan h3,
.team1 .jacob h3 {
  font-size: 2rem;
}
.team1 .kelly p,
.team1 .nicole p,
.team1 .jonathan p,
.team1 .jacob p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .team1 .kelly,
  .team1 .nicole,
  .team1 .jonathan,
  .team1 .jacob {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .team1 {
    display: flex;
    flex-direction: column;
  }
}
.team2 {
  display: flex;
  padding: 40px;
  justify-content: space-around;
}
.team2 .michael,
.team2 .daniel,
.team2 .maria {
  flex-direction: column;
  width: 20%;
  margin: 40px;
}
.team2 .michael .fab,
.team2 .daniel .fab,
.team2 .maria .fab {
  font-size: 3rem;
  color: black;
  margin: 7px;
}
.team2 .michael h2,
.team2 .daniel h2,
.team2 .maria h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.team2 .michael h3,
.team2 .daniel h3,
.team2 .maria h3 {
  font-size: 2rem;
}
.team2 .michael p,
.team2 .daniel p,
.team2 .maria p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .team2 .michael,
  .team2 .daniel,
  .team2 .maria {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .team2 {
    display: flex;
    flex-direction: column;
  }
}
