.header-img-container {
    height: 800px;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        position: absolute;
        // max-height: 50%;
        // max-width: 100%;
    }

    h1{
        //z-index: 100;
        position: absolute;
        left:50%;
        top:30%;
        transform: translate(-50%, -50%); 
        color:white;
        font-size: 7em;
       
    }

    .btn{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%); 
        width: 150px;
        height: 70px;
        font-size: 1.8rem;
        border-radius: 10px;
        border: none;
        background-color: @salmon;
        color: @beige;
    }
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: @beige;

    //media q goes here
}

.about-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    text-align: center;



    h2{
        font-size: 4rem;
    }

    .features{
        padding-top: 20px; 
        display: flex;
        align-items: center;
        margin: 10px;
        justify-content: space-around;
        
        

        .follow, .post, .blog{
            h3{
                font-size: 3rem;
                padding: 30px;
                
            }
            .fas{
                font-size: 7rem;
            }
            width: 30%;
            text-align: center;
            border: solid @salmon;
            padding: 20px;
            margin: 10px;
            background-color: @salmon;
            border-radius: 8px;
        }

      
    }
}